In [1]:
import sys
sys.path.insert(0,'/C:/Users/andre/Documents/c310')
import treeviz
import pandas as pd
import os
path = os.path.join('c:'+ os.sep,'Users','andre','Documents','c310', 'Guns.csv')
df = pd.read_csv(path)
from sklearn import tree
from treeviz import tree_print
from sklearn.metrics import accuracy_score

In [2]:
df.head()

,Unnamed: 0,year,violent,murder,robbery,prisoners,afam,cauc,male,population,income,density,state,law
0,1,1977,414.4,14.2,96.8,83,8.384873,55.12291,18.17441,3.780403,9563.148,0.074552,Alabama,no
1,2,1978,419.1,13.3,99.1,94,8.352101,55.14367,17.99408,3.831838,9932.000,0.075567,Alabama,no
2,3,1979,413.3,13.2,109.5,144,8.329575,55.13586,17.83934,3.866248,9877.028,0.076245,Alabama,no
3,4,1980,448.5,13.2,132.1,141,8.408386,54.91259,17.73420,3.900368,9541.428,0.076829,Alabama,no
4,5,1981,470.5,11.9,126.5,149,8.483435,54.92513,17.67372,3.918531,9548.351,0.077187,Alabama,no

In [3]:
features_df = df.drop(['state', 'law'],axis=1)
features_df.head()

,Unnamed: 0,year,violent,murder,robbery,prisoners,afam,cauc,male,population,income,density
0,1,1977,414.4,14.2,96.8,83,8.384873,55.12291,18.17441,3.780403,9563.148,0.074552
1,2,1978,419.1,13.3,99.1,94,8.352101,55.14367,17.99408,3.831838,9932.000,0.075567
2,3,1979,413.3,13.2,109.5,144,8.329575,55.13586,17.83934,3.866248,9877.028,0.076245
3,4,1980,448.5,13.2,132.1,141,8.408386,54.91259,17.73420,3.900368,9541.428,0.076829
4,5,1981,470.5,11.9,126.5,149,8.483435,54.92513,17.67372,3.918531,9548.351,0.077187

In [4]:
target_df = pd.DataFrame(df['law'])
target_df.head()

  law
0  no
1  no
2  no
3  no
4  no

In [5]:
dtree = tree.DecisionTreeClassifier(criterion='entropy')
dtree.fit(features_df,target_df)

DecisionTreeClassifier(criterion='entropy')

In [6]:
tree_print(dtree,features_df)

if cauc =< 72.5225601196289:
  |then if year =< 1990.5:
  |  |then if afam =< 3.7617709636688232:
  |  |  |then if afam =< 2.6378999948501587:
  |  |  |  |then if afam =< 0.6396433711051941:
  |  |  |  |  |then if robbery =< 30.649999618530273:
  |  |  |  |  |  |then yes
  |  |  |  |  |  |else no
  |  |  |  |  |else if robbery =< 9.549999713897705:
  |  |  |  |  |  |then if male =< 17.30244541168213:
  |  |  |  |  |  |  |then yes
  |  |  |  |  |  |  |else no
  |  |  |  |  |  |else if Unnamed: 0 =< 1022.5:
  |  |  |  |  |  |  |then no
  |  |  |  |  |  |  |else if Unnamed: 0 =< 1094.0:
  |  |  |  |  |  |  |  |then yes
  |  |  |  |  |  |  |  |else no
  |  |  |  |else if Unnamed: 0 =< 887.5:
  |  |  |  |  |then if population =< 5.169032335281372:
  |  |  |  |  |  |then no
  |  |  |  |  |  |else if population =< 5.745152950286865:
  |  |  |  |  |  |  |then yes
  |  |  |  |  |  |  |else no
  |  |  |  |  |else yes
  |  |  |else if male =< 14.237594604492188:
  |  |  |  |then yes
  |  |  |  |else if year =< 1989.5:
  |  |  |  |  |then no
  |  |  |  |  |else if male =< 16.182605743408203:
  |  |  |  |  |  |then no
  |  |  |  |  |  |else if cauc =< 57.644460678100586:
  |  |  |  |  |  |  |then yes
  |  |  |  |  |  |  |else no
  |  |else if density =< 0.3139663487672806:
  |  |  |then if robbery =< 34.64999961853027:
  |  |  |  |then if density =< 0.005600149976089597:
  |  |  |  |  |then no
  |  |  |  |  |else yes
  |  |  |  |else if male =< 13.860255241394043:
  |  |  |  |  |then if population =< 1.561126470565796:
  |  |  |  |  |  |then no
  |  |  |  |  |  |else yes
  |  |  |  |  |else if afam =< 8.601325988769531:
  |  |  |  |  |  |then if Unnamed: 0 =< 847.5:
  |  |  |  |  |  |  |then if Unnamed: 0 =< 467.5:
  |  |  |  |  |  |  |  |then if income =< 15643.57958984375:
  |  |  |  |  |  |  |  |  |then if population =< 3.8944334983825684:
  |  |  |  |  |  |  |  |  |  |then if afam =< 5.806700944900513:
  |  |  |  |  |  |  |  |  |  |  |then no
  |  |  |  |  |  |  |  |  |  |  |else yes
  |  |  |  |  |  |  |  |  |  |else if murder =< 8.550000190734863:
  |  |  |  |  |  |  |  |  |  |  |then yes
  |  |  |  |  |  |  |  |  |  |  |else if male =< 14.578505039215088:
  |  |  |  |  |  |  |  |  |  |  |  |then yes
  |  |  |  |  |  |  |  |  |  |  |  |else no
  |  |  |  |  |  |  |  |  |else no
  |  |  |  |  |  |  |  |else no
  |  |  |  |  |  |  |else if density =< 0.08882060274481773:
  |  |  |  |  |  |  |  |then if robbery =< 164.25:
  |  |  |  |  |  |  |  |  |then yes
  |  |  |  |  |  |  |  |  |else no
  |  |  |  |  |  |  |  |else if male =< 14.255149841308594:
  |  |  |  |  |  |  |  |  |then yes
  |  |  |  |  |  |  |  |  |else no
  |  |  |  |  |  |else if Unnamed: 0 =< 41.0:
  |  |  |  |  |  |  |then no
  |  |  |  |  |  |  |else if cauc =< 36.7591495513916:
  |  |  |  |  |  |  |  |then no
  |  |  |  |  |  |  |  |else if violent =< 936.7999877929688:
  |  |  |  |  |  |  |  |  |then yes
  |  |  |  |  |  |  |  |  |else if afam =< 10.910984992980957:
  |  |  |  |  |  |  |  |  |  |then no
  |  |  |  |  |  |  |  |  |  |else yes
  |  |  |else no
  |else if population =< 0.47671449184417725:
  |  |then no
  |  |else yes
<---------------------------------->
Tree Depth:  12

In [7]:
predict_array = dtree.predict(features_df)      # produces an array of labels
predicted_labels = pd.DataFrame(predict_array)  # turn it into a DF
predicted_labels.columns = ['law']

In [8]:
predicted_labels.head()

  law
0  no
1  no
2  no
3  no
4  no

In [9]:
target_df.head()

  law
0  no
1  no
2  no
3  no
4  no

In [10]:
predicted_labels.equals(target_df)

True

In [12]:
print("Our model accuracy is: {}".format(accuracy_score(target_df, predicted_labels)))

Our model accuracy is: 1.0

In [14]:
dtree = tree.DecisionTreeClassifier(criterion='entropy', max_depth = 2)
dtree.fit(features_df,target_df)
tree_print(dtree,features_df)

if cauc =< 72.5225601196289:
  |then if year =< 1990.5:
  |  |then no
  |  |else no
  |else if density =< 0.004909250186756253:
  |  |then no
  |  |else yes
<---->
Tree Depth:  2